option_settings:
      "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "moziotest.settings"
        PYTHONPATH: "/opt/python/current/app/src:$PYTHONPATH"
      "aws:elasticbeanstalk:container:python":
        WSGIPath: "moziotest/moziotest/wsgi.py"

container_commands:
    01_migrate:
        command: "python manage.py migrate --noinput"
        leader_only: true

packages:
  yum:
    git: []
    postgresql93: []
    postgresql93-devel: []
    make: []
    automake: [] 
    gcc: [] 
    gcc-c++: [] 
    libcurl-devel: [] 
    proj-devel: [] 
    geos-devel: []

commands:
  01-wget:
    command: "wget http://download.osgeo.org/gdal/1.11.2/gdal-1.11.2.tar.gz"
  02-mkdir:
    command: "tar xzf gdal-1.11.2.tar.gz"
  03-tar:
    command: "cd gdal-1.11.2"
  04-ln:
    command: "./configure"
  05-tar2:
    command: "make"
  06-ln2:
    command: "sudo make install"
  07-ln2:
    command: "cd .."
  