option_settings:
      "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "moziotest.settings"
        PYTHONPATH: "/opt/python/current/app/src:$PYTHONPATH"
      "aws:elasticbeanstalk:container:python":
        WSGIPath: "moziotest/moziotest/wsgi.py"

container_commands:
    01_migrate:
        command: "python manage.py migrate --noinput"
        leader_only: true

packages:
  yum:
    git: []
    postgresql93: []
    postgresql93-devel: []
    make: []
    automake: [] 
    gcc: [] 
    gcc-c++: [] 
    libcurl-devel: [] 
    

commands:


  01-wget1:
    command: "wget http://download.osgeo.org/geos/geos-3.4.2.tar.bz2"
  02-mkdir1:
    command: "tar xjf geos-3.4.2.tar.bz2"
  03-gotodir1:
    command: "cd geos-3.4.2"
  04-conf1:
    command: "./configure"
  05-make1:
    command: "make"
  06-install1:
    command: "sudo make install"
  07-back1:
    command: "cd .."


  01-wget2:
    command: "wget http://download.osgeo.org/proj/proj-4.9.1.tar.gz"
  02-mkdir2:
    command: "wget http://download.osgeo.org/proj/proj-datumgrid-1.5.tar.gz"
  03-gotodir2:
    command: "tar xzf proj-4.9.1.tar.gz"
  04-make2:
    command: "cd proj-4.9.1/nad"
  05-conf2:
    command: "tar xzf ../../proj-datumgrid-1.5.tar.gz"
  06-conf2:
    command: "cd .."
  07-conf2:
    command: "./configure"
  08-make2:
    command: "make"
  09-install2:
    command: "sudo make install"
  10-back2:
    command: "cd .."

  01-wget3:
    command: "wget http://download.osgeo.org/gdal/1.11.2/gdal-1.11.2.tar.gz"
  02-mkdir3:
    command: "tar xzf gdal-1.11.2.tar.gz"
  03-gotodir3:
    command: "cd gdal-1.11.2"
  04-conf3:
    command: "./configure"
  05-make3:
    command: "make"
  06-install3:
    command: "sudo make install"
  07-back3:
    command: "cd .."
  