option_settings:
      "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "moziotest.settings"
        PYTHONPATH: "/opt/python/current/app/src:$PYTHONPATH"
      "aws:elasticbeanstalk:container:python":
        WSGIPath: "moziotest/moziotest/wsgi.py"

container_commands:
    01_migrate:
        command: "python manage.py migrate --noinput"
        leader_only: true

packages:
  yum:
    git: []
    postgresql93: []
    postgresql93-devel: []